@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Student Information Management System</h2>

<div style="text-align: center;">
    @Html.ActionLink("Students", "Index", "Student", new { area = "" }, new { @class = "btn btn-success btn-lg" })
</div>
